<html>
<head>

    #parse ("static/style.vm")

</head>
<body>
    <h2>$data.criterion.description</h2>

    <b>Price Increased : &#163;$data.lastRecordedPrice.price</b>

    #parse ("static/price-history-table.vm")
    <p>
        <img src="$reportImageSrc"/>
    </p>
</body>
</html>